[jira_config]
jira_url=http://issue.internal.sina.com.cn/rpc/xmlrpc
jira_user=guizhong
jira_pwd=19880808.lgz6
;commnet--------jira android分配人
jira_android_assign=guizhong
;jira ios分配人
jira_ios_assign=chengwei2

[mail_config]
mail_smtpserver=mail.staff.sina.com.cn
mail_smtpport=25
mail_username=guizhong
mail_pwd=19880808.lgz6
mail_sender=guizhong@staff.weibo.com
;邮件android接收列表，如果有多个，以','分隔
mail_android_receiver=WeiboAndroid_RD@staff.sina.com.cn
;mail_android_receiver=guizhong@staff.weibo.com
;邮件ios接收列表，如果有多个，以','分隔
mail_ios_receiver=WB_iOS_DEV@staff.sina.com.cn
;mail_ios_receiver=644824318@qq.com
