[error_code]
-8108:为保证账户安全，请勿使用历史密码
-4501:malt登录时报错
-4098:登录时账户名为内地手机号，注册过，但是该账户没有设置过密码，进入修改密码页面
-4010:您的登录邮箱尚未验证，不能使用完整功能，请验证邮箱
-1202:此服务器的证书无效。您可能正在连接到一个伪装成“mapi.weibo.com”的服务器，这会威胁到您的机密信息的安全
-1020:目前不允许数据连接
-1019:无法建立数据连接，因为通话仍在进行中
-1018:国际漫游目前已关闭
-1017:无法解析响应
-1011:禁止使用uid找回密码
-1010:疑似海外手机号
-1009:用户不存在｜DNS解析错误，似乎已断开与互联网的连接
-1008:未绑定手机
-1007:账号登录时安全设备要求验证手机号
-1006:UnknownHostException
-1005:您的账号状态异常
-1004:未能连接到服务器
-1003:NoRouteToHostException
-1001:SocketTimeoutException
-200:默认错误号，如：校验参数不存在或失败
-105:用户身份校验失败
-100:用户名或者密码错误
-9:未找到相关搜索结果,试试别的关键词吧
-4:数据加载失败，请重试
-1:com.sina.weibo.exception.WeiboIOException: Invalid response from server: -1
1:用户取消授权
2:文件或目录不存在｜socket读取超时
3:客户端本地阻断(格式校验)
4:客户端本地阻断(无信号)
5:账户名为内地手机号且该手机号没有注册过，弹出验证码页面进入注册流程
6:Error Domain=NSPOSIXErrorDomain Code=6 Device not configured
7:在读流的过程中发生异常
22:Error Domain=NSPOSIXErrorDomain
54:连接被重置
205:（重置内容）服务器成功处理了请求，但没有返回任何内容
302:（临时移动）服务器目前从不同位置的网页响应请求，但请求者应继续使用原有位置来进行以后的请求
303:（查看其他位置）请求者应当对不同的位置使用单独的 GET 请求来检索响应时，服务器返回此代码
307:（临时重定向）服务器目前从不同位置的网页响应请求，但请求者应继续使用原有位置来进行以后的请求
400:（错误请求）服务器不理解请求的语法
403:（禁止）服务器拒绝请求
404:（未找到）服务器找不到请求的网页
405:（方法禁用）服务器禁用请求中指定的方法
500:（服务器内部错误）服务器遇到错误，无法完成请求
502:（错误网关）服务器作为网关或代理，从上游服务器收到无效响应
503:（服务不可用）服务器目前无法使用（由于超载或停机维护）
504:（网关超时）服务器作为网关或代理，但是没有及时从上游服务器收到请求
705:服务器返回的错误码
706:服务器返回的错误码
1014:账户被封杀、冻结，需要克服解冻
1101:网络不给力，稍后再试试吧
3840:解析异常，JSON格式不正确
7001:上传本地进行检查相关异常
7002:Internal Error
7003:网络IO异常
7004:无网络信号
7005:发送队列service被意外回收
8998:文件上传找不到文件异常
9102:服务器数据解析异常
9109:房间不存在
10001:系统错误
10009:系统繁忙!
10011:RPC ERROR
20003:被盗只读＋冻结
20012:文字太长,请输入不超过140个字!
20015:账户/IP/应用不合法
20016:刷微博频率过快
20017:重复相似的内容!
20018:请求失败，不安全的URL
20019:文本内容相同，请隔10分钟再进行发布
20020:包含广告!
20021:内容不合法!
20031:请输入验证码
20034:您的微博帐号处于异常状态，系统已锁定了部分功能，请立即激活帐号，确保正常使用
20046:您的登录邮箱尚未验证，不能使用完整功能，请验证邮箱
20101:该微博不存在
20120:无法重发!
20130:没有权限!
20134:群组不存在
20135:原微博已删除！
20148:你没有查看这个群的权限
20156:今天刷微博的频率超过上限!
20201:该条微博不存在
20205:(队列)阻塞!
20206:加关注后才能评论
20208:由于对方的设置，你不能评论哦！
20210:由于对方的设置，你不能评论哦！
20603:列表不存在！
105001:发送失败，请重试
107002:打赏或者付费设置失败
201603:TV扫描录音错误
1040002:系统繁忙
3020003:网络异常
3020005:系统错误
3020006:系统错误
50112071:QQ登录时候要求验证手机
1001030042:根据相关法律法规和政策，搜索结果未予显示
1078030002:无权限查
e000:启动crash

[sub_type]
login:登陆
register:注册
process_keep_alive:进程保活
sso_authorize:SSO授权
load_article:文章加载
send_blog:发微博
upload_file:文件上传
refresh_feed:feed刷新
refresh_pagelist:pagelist刷新
preload_article:文章预加载
radar_scan:雷达扫描
app_launch:微博启动速度
live_push:直播推送
live_join_room:直播加入房间
